.page-title {
	display: inline-block;
	font-size: 6.8em;
	font-family: var(--copy-font);
	position: relative;

	&:before {
		position: absolute;
		left: 0;
		bottom: 3px;
		height: 18px;
		width: 100%;
		background-color: var(--tertiary-color);
		content: '';
		z-index: -1;
	}
}