:root {
	--primary-color: #FFFFFF;
	--secondary-color: #000000;
	--tertiary-color: salmon;
	--transparent-white: rgba(255,255,255,.9);
	--title-font: 'Open Sans', sans-serif;
	--copy-font: 'Open Sans', sans-serif;
}